<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <h3>Enter project details</h3>
      <br>

      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div formGroupName="projectData">

          <!-- Project name -->
          <div class="form-group">
            <label for="projectName">Username</label>
            <input type="text" id="projectName" class="form-control" formControlName="projectName">
            <span *ngIf="formInvalid()" class="help-block">
              <span *ngIf="projectNameInvalid">Please enter a valid project name</span>
            </span>
          </div>

          <!-- Email -->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" formControlName="email">
            <span *ngIf="!projectForm.get('projectData.email').valid && projectForm.get('projectData.email').touched"
              class="help-block">
              Please enter a valid email</span>
          </div>

          <!-- Project status -->
          <div class=" form-group">
            <label for="projectStatus">Project Status</label>
            <select id="projectStatus" class="form-control" formControlName="projectStatus">
              <option value="stable">Stable</option>
              <option value="critical">Critical</option>
              <option value="finished">Finished</option>
            </select>
          </div>
        </div>

        <span *ngIf="formInvalid()" class="help-block">Please enter valid project details</span>

        <!-- Submit button -->
        <br>
        <div>
          <button class="btn btn-primary" type="submit" [disabled]="projectForm.invalid">Submit</button>
        </div>
        <hr>
        <div *ngIf="isSubmitted" class="row">
          <div class="col-xs-12">
            <h4>Project Details</h4>
            <p>Project Name: {{ project.projectName }}</p>
            <p>Contact email: {{ project.email}}</p>
            <p>Project Status: {{ project.projectStatus }}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>